body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-primary);
  height: 100dvh;
  overflow-y: hidden;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;

  &.btn {
    background: var(--color-primary);
    color: var(--color-primary-text-contrast);
    border-radius: 999px;
    border: none;
    padding: 0.5rem 1rem;
    margin-inline: auto;
    max-width: 768px;
    font-weight: bold;

    & > img {
      filter: var(--color-base-invert-filter);
    }
  }

  &.expanded {
    width: -webkit-fill-available;
  }

  &.secondary {
    background: var(--color-secondary);
    color: var(--color-secondary-text-contrast);
  }
}

button.btn:hover:not(:disabled),
button.btn:focus-visible:not(:disabled) {
  background: var(--color-primary-tint);
}

button.btn:active:not(:disabled) {
  background: var(--color-primary-dark);
}

button.secondary:hover:not(:disabled),
button.secondary:focus-visible:not(:disabled) {
  background: var(--color-secondary-tint);
}

button.secondary:active:not(:disabled) {
  background: var(--color-secondary-dark);
}

button:disabled {
  cursor: unset;
  opacity: 0.5;
}

.btn-row {
  display: flex;
  gap: 1rem;

  &.btn-row-expanded {
    & button {
      flex: 1;
    }
  }
}

a.display-link {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-block-end: 1rem;

  & .display-link-detail {
    display: flex;
    gap: 1rem;

    & h2 {
      font-size: var(--font-md);
    }
  }
}

input:is([type='text'], [type='number']) {
  display: block;
  background: var(--color-input-background);
  border: none;
  border-radius: var(--border-radius-sm);
  padding: var(--sp-xs);
  width: 100%;

  &:focus-within {
    outline: var(--color-primary-tint) solid 1px;
  }
}

/* Scrollbar */
.visually-hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.visually-hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Profile Icon */

.profile-icon-container {
  flex: 0 0 auto;
  height: 48px;
  width: 48px;

  & img {
    object-fit: contain;
    height: 100%;
  }
}
